<html>
<h2>Members</h2>

</h3>
<form action="/Members/AddMember" method="POST">
    
    <label>Name:</label><br>
    <input type="text" name="Name" ><br>
    <label>Email:</label><br>
    <input type="text" name="Email"><br><br>
    <label>City:</label><br>
    <input type="text" name="City" ><br><br>

    <input type="submit" value="Create">
    <input type="button" value="cancel" onclick="window.location.href='/Members';">

</form>

</html>