<html>

    <form action="/" method="POST">
        <label >First name:</label><br>
        <input type="text" name="UserName" ><br>
        <label >Last name:</label><br>
        <input type="text" name="Password"><br><br>
        <input type="submit" value="Login">
      </form> 
      <p>New User?:<a href="/CreateAccount">Create Account</a></p>
</html>